<header style="padding: 50px 0; text-align: center; color: #262626; font-size: 14px; line-height: 1.4">
<div>Web engineer from Melbourne, Australia <br /> working as Web Developer at <a style="color: #666; text-decoration:none;" target="_blank" href="https://carsales.com.au">Carsales</a></div>
<div style="padding-top: 15px">
    <a href="https://twitter.com/kamarouski" class="twitter-follow-button" data-show-count="false">Follow @kamarouski</a>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
</div>
</header>
